recursive-include morepath_wiki *
recursive-include contents *.txt
include *.rst
include *.ini
include LICENSE
include .coveragerc
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__/*
